PRODUCT_BUNDLE_IDENTIFIER = com.avalsys.momentsav
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
AVALSYS_APPLE_DEVELOPMENT_TEAM =
ACCOUNTAV_PUBLISHABLE_KEY =
MOMENTSAV_CONVEX_URL =
ACCOUNTAV_API_BASE_URL =
MOMENTSAV_SUPPORT_URL = https:/$()/moments-av.avalsys.com/support
MOMENTSAV_PRIVACY_URL = https:/$()/moments-av.avalsys.com/privacy
MOMENTSAV_TERMS_URL = https:/$()/moments-av.avalsys.com/terms
ACCOUNTAV_DELETE_ACCOUNT_URL = https:/$()/account.avalsys.com/account/delete

#include? "Local.xcconfig"
